/**
 * @file
 * Visual styles for Showcase Lite's nodes slider.
 */
.field--mt-nodes-slideshow-block {
  padding-top: 20px;
}

/*nodes slideshow*/
.nodes-slideshow .slides > li:not(.flex-active-slide) a.button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*nodes slideshow navigation*/
.nodes-slideshow-navigation .slides {
  width: 100% !important;
}
.nodes-slideshow-navigation .slides > li {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f2f4f6;
  float: none !important;
}
.nodes-slideshow-navigation .slides > li a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.nodes-slideshow-navigation .slides > li.is-active {
  cursor: default;
}
.nodes-slideshow-navigation .slides > li.is-active a {
  padding-left: 20px;
}
.nodes-slideshow-navigation .slides > li.is-active a:before {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .nodes-slideshow-navigation {
    margin-bottom: 30px;
  }
}

/*nodes slideshow @colored regions*/
.region--light-typography .nodes-slideshow-navigation .slides > li.is-active a {
  color: #ffffff;
}
.region--light-typography .nodes-slideshow-navigation .slides > li a:before {
  color: #ffffff;
}
.region--light-typography .nodes-slideshow-navigation .slides > li {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}
