/**
 * @file
 * Styles for Showcase Lite's more links.
 */
.node ul.links {
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
.node ul.links li a {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  color: #ffffff;
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 5px 10px 0;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}
.headings-wide-spacing-enabled .node ul.links li a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.node ul.links li a:hover,
.node ul.links li a:focus {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
  -moz-box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
  -ms-box-shadow:rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
  box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
}
.node ul.links li a.active {
  color: #ffffff;
}
.node ul.inline li {
  padding: 0;
  display: inline-block;
}
.node ul.inline li a {
  margin: 0 20px 10px 0;
}
.node .comment-forbidden a:last-child {
  margin: 0 10px 10px 10px;
}
.node .comment-forbidden a:first-child {
  margin: 0 10px 10px 0;
}
