/**
 * @file
 * Visual styles for Showcase+'s slider revolution full-screen.
 */
.slideshow-internal .tp-caption__title {
  color: #ffffff;
}
.slideshow-internal .tparrows:before {
  color: #ffffff;
}
.slideshow-internal .tparrows:hover:before {
  color: #373737;
}
