/**
 * @file
 * Visual styles for Showcase Lite's text blocks.
 */
.mt-text-block {
  border-color: #ebebeb;
  border-width: 3px;
  border-style: solid;
  padding: 60px 45px 55px;
  min-height: 255px;
}
.mt-text-block h4 {
  font-size: 24px;
  margin-top: 0;
}
