/**
 * @file
 * Visual styles for Showcase+'s products carousel.
 */
.view-mt-carousel--brands {
  padding: 30px 0 10px;
}
.mt-carousel-brands {
  padding: 50px 0;
}

.mt-carousel-brands .owl-item {
  text-align: center;
}
.mt-carousel-brands .mt-carousel-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 35px;
  max-width: 100%;
}
@media (max-width: 480px) {
  .mt-carousel-brands .mt-carousel-item {
    padding: 0 15px;
  }
}

/*brans carousel's overlay*/
.mt-carousel-brands .overlay-target-link a {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  font-size: 0;
}

/*navigation*/
.mt-carousel-brands .owl-buttons {
  top: -25px;
  right: 20px;
}
