/**
 * @file
 * Visual styles for Showcase Lite's views.
 */
.views-field-title a {
  display: block;
  text-decoration: none;
}
.views-field-title a:hover {
  text-decoration: underline;
}

/*more links*/
.view > .more-link {
  text-align: center;
}
.view > .more-link a {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  color: #ffffff;
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 70px 0 10px 0;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}
.headings-wide-spacing-enabled .view > .more-link a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.view > .more-link a:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
  -moz-box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
  -ms-box-shadow:rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
  box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px, rgba(28, 56, 72, 0.1) 0px 32px 32px, rgba(28, 56, 72, 0.1) 0px 64px 64px;
}
.view > .more-link a:after {
  content: "";
  margin: 0;
}

/*more links @sidebars and footer regions*/
.sidebar__section .view > .more-link,
.footer__section .view > .more-link {
  text-align: right;
  clear: both;
}
.sidebar__section .view > .more-link a,
.footer__section .view > .more-link a {
  margin: 10px 0 0;
  padding: 10px 30px;
}

/*more link @colored regions*/
.region--light-typography .view > .more-link a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

/*Views row clear*/
@media (min-width:768px) {
  .views-row.col-sm-6:nth-child(2n+1),
  .views-row.col-sm-4:nth-child(3n+1),
  .views-row.col-sm-3:nth-child(4n+1) {
    clear: both;
  }
}
@media (min-width:992px) {
  .views-row.col-sm-6.col-md-4:nth-child(2n+1),
  .views-row.col-sm-6.col-md-3:nth-child(2n+1),
  .views-row.col-sm-4.col-md-2:nth-child(3n+1),
  .views-row.col-sm-4.col-md-3:nth-child(3n+1),
  .views-row.col-sm-4.col-md-6:nth-child(3n+1),
  .views-row.col-sm-3.col-md-6:nth-child(4n+1),
  .views-row.col-sm-3.col-md-4:nth-child(4n+1) {
    clear: none;
  }
  .views-row.col-md-6:nth-child(2n+1),
  .views-row.col-md-4:nth-child(3n+1),
  .views-row.col-md-3:nth-child(4n+1) {
    clear: both !important;
  }
}
@media (min-width:1200px) {
  .views-row.col-sm-4.col-lg-2:nth-child(3n+1),
  .views-row.col-sm-4.col-lg-3:nth-child(3n+1),
  .views-row.col-sm-4.col-lg-6:nth-child(3n+1),
  .views-row.col-sm-3.col-lg-6:nth-child(4n+1),
  .views-row.col-sm-3.col-lg-4:nth-child(4n+1),
  .views-row.col-sm-3.col-lg-2:nth-child(4n+1),
  .views-row.col-md-4.col-lg-2:nth-child(3n+1),
  .views-row.col-md-4.col-lg-3:nth-child(3n+1),
  .views-row.col-md-4.col-lg-6:nth-child(3n+1),
  .views-row.col-md-3.col-lg-6:nth-child(4n+1),
  .views-row.col-md-3.col-lg-4:nth-child(4n+1),
  .views-row.col-md-3.col-lg-2:nth-child(4n+1) {
    clear: none !important;
  }
  .views-row.col-lg-6:nth-child(2n+1),
  .views-row.col-lg-4:nth-child(3n+1),
  .views-row.col-lg-3:nth-child(4n+1),
  .views-row.col-lg-2:nth-child(6n+1) {
    clear: both !important;
  }
}

/*clear grid floats*/
.view.row .view-content:before,
.view.row .view-content:after {
  display: table;
  content: " ";
}
.view.row .view-content:after {
  clear: both;
}
