/**
 * @file
 * Visual styles for Showcase+'s articles carousel.
 */
.mt-carousel-articles .mt-carousel-item {
  margin: 0 15px 40px;
  text-align: center;
}
.mt-carousel-articles .mt-carousel-item:hover .article-header {
  -webkit-box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px;
  box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px;
}
