/**
 * @file
 * Visual styles for Showcase+'s articles grid views.
 */
.view-articles-grid .views-row {
  text-align: center;
  margin-bottom: 40px;
}
.view-articles-grid .article-header {
  background-color: #f4f4f4;
  color: #2d2d2d;
  padding: 40px 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  position: relative;
  margin-bottom: 30px;
  z-index: 10;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.view-articles-grid .views-row:hover .article-header {
  -webkit-box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px;
  box-shadow: rgba(28, 56, 72, 0.1) 0px 2px 2px, rgba(28, 56, 72, 0.1) 0px 4px 4px, rgba(28, 56, 72, 0.1) 0px 8px 8px, rgba(28, 56, 72, 0.1) 0px 16px 16px;
}
.view-articles-grid .views-field-field-image + .article-header {
  margin-top: -55px;
}
.view-articles-grid .views-field-title h5 {
  margin: 0;
}
.view-articles-grid .views-field-title a {
  font-size: 20px;
  line-height: 1.3;
}
.headings-wide-spacing-enabled .view-articles-grid .views-field-title a {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.view-articles-grid .views-field-title a:hover {
  text-decoration: none;
}
.view-articles-grid .article-meta {
  font-size: 0;
  margin-top: 10px;
}
.view-articles-grid .article-meta-item {
  font-size: 13px;
  display: inline-block;
  padding: 0px 15px;
  border-left: 1px solid #d7d7d7;
  line-height: 1.3;
}
.view-articles-grid .article-meta-item .username {
  text-transform: capitalize;
}
.view-articles-grid .article-meta-item:first-child {
  border-left: none;
  padding-left: 0;
}
.view-articles-grid .article-meta-item:last-child {
  padding-right: 0;
}
.view-articles-grid .views-field-body {
  margin-bottom: 5px;
}
.view-articles-grid .views-field-view-node {
  padding-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dfdfdf;
}
.view-articles-grid .col-xs-12.views-row:last-child .views-field-view-node {
  border-bottom-width: 0;
}

/*articles at colored regions*/
.region--gray-background .view-articles-grid .article-header {
  background-color: #ffffff;
}
.region--light-typography .view-articles-grid .article-header a {
  text-decoration: none;
}
.region--light-typography .view-articles-grid .views-field-view-node {
  border-color: #ffffff;
}
