/**
 * @file
 * Visual styles for Showcase+'s promoted items list views.
 */
.view-items-list .views-row:first-child {
  margin-top: 10px;
}
.view-items-list .views-row {
  margin-top: 50px;
}
.view-items-list .views-field-title {
  font-size: 26px;
}
.view-items-list .views-field-title a {
  margin-bottom: 0;
}
.view-items-list .views-field-title a:hover {
  text-decoration: none;
}
.view-items-list .views-field-title h5 {
  font-size: 26px;
  letter-spacing: normal;
  text-transform: none;
}
.region--light-typography .view-items-list .views-field-title a {
  color: #ffffff;
}
.view-items-list .views-field-body {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #e9e9e9;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 1.6;
  margin-top: 10px;
}
.region--light-typography .view-items-list .views-field-body {
  border-color: rgba(255, 255, 255, 0.2);
}
.view-items-list .views-field-created {
  font-size: 12px;
  color: #8c8c8c;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.region--light-typography.region--colored-background .view-items-list .views-field-created {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .view-items-list__body {
    padding: 5px 10px 0 0;
  }
  .view-items-list .views-field-body p {
    padding: 0 0 10px 0;
  }
}
@media (max-width: 767px) {
  .view-items-list--bordered .view-items-list__body {
    padding: 15px 15px 5px;
  }
}
